{% extends 'base.html' %}

{% block title%} {{ user.username}}'s Profile Page {% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
<ul class="list-group w-50">
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">First Name: {{ user.first_name }}</li>
    <li class="list-group-item">Last Name: {{ user.last_name }}</li>
</ul>

<form id="logout-form" action="/logout" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <div class="form-group">
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </div>

    {% endfor %}

    <button class="btn btn-danger mt-2" type="submit">Log Out</button>
  </form>

{% endblock%}