{% extends 'base.html' %}

{% block title%} {{ user.username}}'s Profile Page {% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
<ul class="list-group w-50 mb-2">
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">First Name: {{ user.first_name }}</li>
    <li class="list-group-item">Last Name: {{ user.last_name }}</li>
</ul>

<ul class="list-group w-50 mb-2">
{% for note in notes %}
  <li class="list-group-item">
    <a class="link-primary" href="/notes/{{note.id}}/update">{{note.title}}</a>
    <form class="float-end" id="delete-note" action="/notes/{{note.id}}/delete" method="POST">
      {{ form.hidden_tag() }}
      <button class="btn btn-secondary">Delete Note</button>
    </form>
  </li>
{% endfor %}
</ul>

<a class="btn btn-primary" href="/users/{{user.username}}/notes/add">Add Note</a>

<form id="logout-form" action="/logout" method="POST">
    {{ form.hidden_tag() }}

    <button class="btn btn-danger mt-2" formaction="/users/{{user.username}}/delete">Delete User</button><br>
    <button class="btn btn-warning mt-2" type="submit">Log Out</button>
  </form>

{% endblock%}